* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    text-align: center;
	margin: 30px;
	color: #111;
}

h1 {
    font-size: 46px;
}

p {
	margin: 0 20px;
	color: #444;
}

section {
    display: flex;
	flex-wrap: wrap;
    align-items: center;
	justify-content: center;
    margin: 20px 0;
}

#prediction {
    width: 300px;
    height: 300px;
    border: 3px solid #ccc;
	background-color: #f6f6f6;
	border-radius: 10px;
    font-size: 228px;
    line-height: 300px;
}

#main-canvas {
    cursor: pointer;
	margin: 20px;
	border-radius: 10px;
}

#small-canvas {
    display: none;
}

button {
    font: inherit;
	font-weight: 500;
    padding: 8px 26px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    outline: none;
    cursor: pointer;
    transition: all 0.1s;
}

button:hover {
    background-color: #222;
    color: white;
}
